CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.venv
.gitignore

build
cmake-build-debug
.idea

yolo11n.pt
yolov5.onnx
yolov5s.pt
runs
wider_face_dataset